python-memcached
pytz
Django
South
PIP
sorl-thumbnail
django-debug-toolbar
pymorphy
pytils
python-cdb
simplejson
pymorphy-speedups
pytc
templated-emails
MySQL-python
django-celery
django-mptt
django-admin-tools
google-api-python-client
django_compressor
django-tastypie
django-braces
django-require
